<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Team Workload</li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        <strong>Team Workload</strong>
                    </div>
                    <div class="card-body">
                        <section class="scrollable wrapper w-f">
                            <section class="vbox">
                                <h4 class="m-t-none">
                                    
                                    <button id="nestable-menu" class="btn btn-xs btn-white active" data-toggle="class:show">
                                        <i class="fa fa-plus text"></i>
                                        <span class="text">Expand All</span>
                                        <i class="fa fa-minus text-active"></i>
                                        <span class="text-active">Collapse All</span>
                                    </button>
                                </h4>
                                <div class="col-sm-12">
                                    <div id="nestable2" class="ddd">
                                        <ol class="dd-list">
                                            <li class="dd-item dd3-item" data-id="13">
                                                @*<div class="dd-handle dd3-handle">Drag</div>*@
                                                <div class="dd3-content">Working on progress</div>
                                                <ol class="dd-list">
                                                    <li class="dd-item dd3-item" data-id="18">
                                                        @*<div class="dd-handle dd3-handle">Drag</div>*@
                                                        <div class="dd3-content">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped m-b-none">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="20"></th>
                                                                            <th width="50">
                                                                                
                                                                            </th>
                                                                            <th width="150">
                                                                                System
                                                                            </th>
                                                                            <th>Action</th>
                                                                            <th width="130">Date</th>
                                                                            <th width="130">Assign To</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/WB_logo.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>DECACS</td>
                                                                            <td>"Young teammate" communication problem</td>
                                                                            <td>Jul 7, 2013</td>
                                                                            <td>
                                                                                John
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/smart-warehouse.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>Smart Warehouse</td>
                                                                            <td>DKT-BLUE defected PO</td>
                                                                            <td>Jul 3, 2013</td>
                                                                            <td>
                                                                                Steve
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/maintenance-icon-20.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>SMARTLine</td>
                                                                            <td>OWE under target line 46</td>
                                                                            <td>Jul 2, 2013</td>
                                                                            <td>
                                                                                Hunter
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/maintenance-icon-20.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>PO 456729999 is ready for Inspection</td>
                                                                            <td></td>
                                                                            <td>Jul 1, 2013</td>
                                                                            <td>
                                                                                Lyly
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li class="dd-item dd3-item" data-id="14">
                                                @*<div class="dd-handle dd3-handle">Drag</div>*@
                                                <div class="dd3-content">Pending</div>
                                                <ol class="dd-list">
                                                    <li class="dd-item dd3-item" data-id="18">
                                                        @*<div class="dd-handle dd3-handle">Drag</div>*@
                                                        <div class="dd3-content">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped m-b-none">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="20"></th>
                                                                            <th width="50">

                                                                            </th>
                                                                            <th width="150">
                                                                                System
                                                                            </th>
                                                                            <th>Action</th>
                                                                            <th width="130">Date</th>
                                                                            <th width="130">Assign To</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/smart-warehouse.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>Smart Warehouse</td>
                                                                            <td>Warehouse is overloaded</td>
                                                                            <td>Jul 7, 2013</td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/forsaljning-rund.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>SMARTaccessories</td>
                                                                            <td>Lack of snap button for line 13, line 01</td>
                                                                            <td>Jul 3, 2013</td>
                                                                            <td>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li class="dd-item dd3-item" data-id="15">
                                                @*<div class="dd-handle dd3-handle">Drag</div>*@
                                                <div class="dd3-content">Finish</div>
                                                <ol class="dd-list">
                                                    <li class="dd-item dd3-item" data-id="18">
                                                        @*<div class="dd-handle dd3-handle">Drag</div>*@
                                                        <div class="dd3-content">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped m-b-none">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="20"></th>
                                                                            <th width="50">

                                                                            </th>
                                                                            <th width="150">
                                                                                System
                                                                            </th>
                                                                            <th>Action</th>
                                                                            <th width="130">Date</th>
                                                                            <th width="130">Assign To</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a asp-controller="workload" asp-action="details"><i class="fa fa-search-plus"></i></a></td>
                                                                            <td>
                                                                                <div class="avatar">
                                                                                    <img src="~/img/logo.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                                                </div>
                                                                            </td>
                                                                            <td>Artoo</td>
                                                                            <td>Hung Tran is asking for your support</td>
                                                                            <td>Jul 7, 2013</td>
                                                                            <td>Hellen</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </div>
                                </div>


                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Node 1 02/2013</h4>
            </div>
            <div class="modal-body">
                <section class="panel m-l-n-lg  m-r-n-lg m-b-none">
                    <header class="panel-heading">
                        <span class="label bg-danger pull-right">5 left</span>
                        Items
                    </header>
                    <table class="table table-striped m-b-none text-sm">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Value</th>
                                <th width="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="item-1">
                                <td>
                                    P AC
                                </td>
                                <td>1637 W</td>
                                <td class="text-right">
                                    <a href="#item-1" data-dismiss="alert"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr id="item-2">
                                <td>
                                    f ac
                                </td>
                                <td>50.07 Hz</td>
                                <td class="text-right">
                                    <a href="#item-2" data-dismiss="alert"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr id="item-3">
                                <td>
                                    P L1
                                </td>
                                <td>698 W</td>
                                <td class="text-right">
                                    <a href="#item-3" data-dismiss="alert"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr id="item-4">
                                <td>
                                    P L2
                                </td>
                                <td>285 W</td>
                                <td class="text-right">
                                    <a href="#item-4" data-dismiss="alert"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr id="item-4">
                                <td>
                                    P L3
                                </td>
                                <td>607 W</td>
                                <td class="text-right">
                                    <a href="#item-4" data-dismiss="alert"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" data-loading-text="Updating...">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts
    {
    <link rel="stylesheet" href="~/js/nestable/nestable.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="~/js/nestable/app.css" type="text/css" cache="false" />
    <!-- Sortable -->
    @*<script src="~/js/sortable/jquery.sortable.js"></script>*@
    <script src="~/js/nestable/jquery.nestable.js" cache="false"></script>
    <script src="~/js/nestable/demo.js" cache="false"></script>
}
