@model Factory
<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Xưởng sản xuất</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Xưởng sản xuất</strong>
                    </div>
                    <form asp-action="Update" method="post" class="form-horizontal" role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div class="form-group row" hidden>
                                <label asp-for="FactoryId" class="col-md-3 form-control-label" for="text-input">Id</label>
                                <div class="col-md-9">
                                    <input asp-for="FactoryId" class="form-control" placeholder="Id" value="@Model.FactoryId" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Name" class="col-md-3 form-control-label" for="text-input">Tên</label>
                                <div class="col-md-9">
                                    <input asp-for="Name" class="form-control" placeholder="Xưởng sản xuất" value="@Model.Name" />
                                    <span asp-validation-for="Name" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-md-3 form-control-label" for="text-input">Mô tả</label>
                                <div class="col-md-9">
                                    <input asp-for="Description" class="form-control" placeholder="Mô tả" value="@Model.Description" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DateRegister" class="col-md-3 form-control-label" for="text-input">Ngày tạo</label>
                                <div class="col-md-9">
                                    <label class="form-control-label">@Model.DateRegister</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
